@CHARSET "UTF-8";
/* reset */

body {
    font-family: Arial, helvetica, sans-serif;
    font-size: 14px;
}

a {
    font-weight: bold;
    color: #003399;
}

.container {
    width: 100%;
}

.logo{
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.barra_menu {
    background-color: #ff7043;
    min-height: 25px;
    padding: 3px;
    opacity: 0.7;
    filter: alpha(opacity=50);
}

.cabecalho{
    font-size: 18px;
    text-align: center;
}

.rodape{
    background-color: #ff7043;
    padding-bottom: 0.1px;
    color: #fafafa;
    padding-top: 10px;
    opacity: 0.7;
    filter: alpha(opacity=50);
}
